{{define "title"}}Car MMO{{end}} 
{{define "main"}}
    <div class="game-container">
        <div id="gameCanvas"/></div>
    </div>
    <script nonce="{{.Nonce}}">const playerId = "{{.PlayerID}}";</script>
    <script type="module" nonce="{{.Nonce}}" src="/static/game/game.bundle.js"></script>
{{end}}
