{{define "title"}}Home{{end}} 
{{define "main"}}
  <div class="text-container">
      <h2>Car MMO</h2>
      <p>Tämä on automoninpeli, jossa pääset kaahailemaan pitkin Rovaniemen katuja muiden pelaajien kanssa juuri niin holtittomasti kuin haluat.</p>
      <p>
      <a href=/signup>Luo ilmaiset tunnukset</a> tai <a href=/game>kokeile peliä</a> ilman tunnuksia.
      Parhaan käyttäjäkokemuksaen saa kuitenkin pelaamalla peliä kirjautuneena.
      </p>
  </div>
{{end}}
