{{define "title"}}Login{{end}}

{{define "main"}}

<form class=".form" action='/user/login' method='POST' novalidate>
   <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
   {{range .Form.NonFieldErrors}}
      <div class='error'>{{.}}</div>
   {{end}}
   <div>
      <label>Username:</label>
      {{with .Form.FieldErrors.username}}
         <label class='error'>{{.}}</label>
      {{end}}
      <input type='username' name='username' value='{{.Form.Username}}'>
   </div>
   <div>
      <label>Password:</label>
      {{with .Form.FieldErrors.password}}
         <label class='error'>{{.}}</label>
      {{end}}
      <input type='password' name='password'>
   </div>
   <div>
      <input type='submit' value='Login'>
   </div>
</form>
{{end}}
